.main{
    height: 100vh;
    width: 100%;
    background-color: rgb(239, 125, 195);
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
}
.overlap{
    height:450px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 250px;
}
input{
    border-color: rgb(181, 155, 9);
    font-size: large;
}
.button{
    background-color: rgb(76, 76, 220);
    color:white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
}
.button:hover{
    background-color: rgb(247, 83, 83);
    opacity: 0.4;
}
#img-box{
    width: 230px;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
#img-box img{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
#img-box.show-img{
    max-height: 300px;
    margin:10px auto;
    border: 1px solid rgb(201, 199, 199);
    background: white;
}